/* Header */
.header {
  width: 100%;
  height: 100%;
}

/* Banner */
.header .banner {
  width: 100%;
  height: 100vh;
  background: linear-gradient(to left bottom, #000000, #121027);
}

/* Container */
.header .banner .container nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
}

/* Nav/Navigasi */
.header .banner .container nav .list-item {
  display: flex;
  flex-direction: column;
  list-style: none;
  position: absolute;
  transform: translateY(1000px);
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: 0;
  z-index: 30;
  padding: 30px;
  height: 100dvh;
  background: linear-gradient(to left, #000000, #121027);
  transition: 0.5s;
}

/* List Items Responsive */
.header .banner .container nav .list-item.show {
  transform: translateY(0);
}

/* Icons Humberger */
.header .banner .container nav .menu {
  cursor: pointer;
}

/* Navbar Responsive Background */
.header .banner .container nav.bg {
  background: linear-gradient(to left top, #000000, #121027);
}

/* Judul */
.header .banner .container nav .title h3 {
  color: #fbae3c;
  font-family: 'Sekuya', system-ui;
  font-weight: 400;
  margin-top: 10px;
}

/* Icons Close */
.header .banner .container nav .list-item .close {
  cursor: pointer;
  width: 0;
}

/* Links List */
.header .banner .container nav .list-item li a {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  transition: all 400ms;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
}

/* Hover Cursor Links */
.header .banner .container nav .list-item li a:hover {
  color: #fbae3c;
}

/* Jumbotron */
.header .banner .container .jumbotron .container {
  top: 230px;
}

/* Image */
.header .banner .container .jumbotron .container .row .img-col {
  left: 0;
  right: 0;
}

/* Container Blob */
.header .banner .container .jumbotron .container .row .img-col .blob {
  position: relative;
  z-index: 1;
  top: -300px;
  left: 20px;
}

/* Banner */
.header .banner .container .jumbotron .container .row .judul-banner .deskripsi {
  position: absolute;
  z-index: 1;
  top: -200px;
  left: 0;
  right: 0;
}

/* Banner H3 */
.header .banner .container .jumbotron .container .row .judul-banner .deskripsi h3 {
  font-family: 'BBH Bartle', sans-serif;
}

/* Spann H# */
.header .banner .container .jumbotron .container .row .judul-banner .deskripsi h3 .next {
  color: #FBAE3C;
}

/* Jumbotron Access Links */
.header .banner .container .jumbotron > * .medsos a {
  transition: all 400ms;
  color: white;
}

/* Jumbotron Access Links Hover */
.header .banner .container .jumbotron > * .medsos a:hover {
  color: red;
}