@media (max-width: 420px) { 
  .header .banner .container .jumbotron .container .row .img-col img {
    left: -40px;
    top: -20px;
  }
  .header .banner .container .jumbotron .container .row .img-col .blob {
    top: -365px;
  }
  .header .banner .container .jumbotron .container .row .judul-banner .deskripsi {
    margin-top: 20px;
    margin: 10px;
  }
}

@media (max-width: 575.98px) { 
  .header .banner .container .jumbotron .container .row .img-col img {
    left: -40px;
    top: -20px;
  }
  .header .banner .container .jumbotron .container .row .img-col .blob {
    top: -365px;
  }
  .header .banner .container .jumbotron .container .row .judul-banner .deskripsi {
    margin-top: 20px;
    margin: 5px;
    margin-left: -10px;
  }
}

/* Responsive Ukuran Tablet/Dekstop */
@media (min-width: 768px) {
  .header .banner .container nav .list-item {
    transform: translateY(0);
    background: linear-gradient(to left, #00000000, #12102700);
    flex-direction: row;
    height: 0;
    position: relative;
    align-items: center;
  }
  .header .banner .container nav .list-item .close {
    display: none;
  }
  .header .banner .container nav .list-item .medsos {
    display: none;
  }
  .header .banner .container nav .menu {
    display: none;
  }
  .header .banner .container .jumbotron .container .row .img-col img {
    width: 500px;
  }
}
